name: Test

on:
  push:
    paths:
      - '**.el'
      - 'Cask'
      - 'makefile'
      - '.github/workflows/test.yml'
    tags-ignore:
      - '**'
  pull_request:
    paths:
      - '**.el'
      - 'Cask'
      - 'makefile'
      - '.github/workflows/test.yml'
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ubuntu - test all versions including 26.3
          - os: ubuntu-latest
            emacs-version: 26.3
          - os: ubuntu-latest
            emacs-version: 27.2
          - os: ubuntu-latest
            emacs-version: 28.2
          - os: ubuntu-latest
            emacs-version: 29.4
          - os: ubuntu-latest
            emacs-version: 30.1
          # macOS Intel - test 26.3+
          - os: macos-13
            emacs-version: 26.3
          - os: macos-13
            emacs-version: 27.2
          - os: macos-13
            emacs-version: 28.2
          - os: macos-13
            emacs-version: 29.4
          - os: macos-13
            emacs-version: 30.1
          # macOS ARM64 - only 28.1+ supported
          - os: macos-latest
            emacs-version: 28.2
          - os: macos-latest
            emacs-version: 29.4
          - os: macos-latest
            emacs-version: 30.1

    steps:
      - uses: actions/checkout@v2

      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Cache Cask packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.cask
            .cask
          key: ${{ runner.os }}-cask-${{ matrix.emacs-version }}-${{ hashFiles('**/Cask') }}
          restore-keys: |
            ${{ runner.os }}-cask-${{ matrix.emacs-version }}-
            ${{ runner.os }}-cask-

      - name: Install Cask
        run: |
          if [ ! -d "$HOME/.cask" ]; then
            curl -fsSL https://raw.githubusercontent.com/cask/cask/master/go | python
          fi
          echo "$HOME/.cask/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: make deps

      - name: Run tests
        run: make test
